#navbar {
    margin-top: 0 !important;
    color: #fff;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

a {
    color: white !important;
    color: linear-gradient(10deg, #ff8000, transparent) #ff4020;
}

span {
    color: #eb5e28;
}

#naranja {
    color: white;
}

#outer {
    background-color: #eb5e28;
    border: none;
}

#input{
    background-color: #eb5e28 !important;
    color: white !important;
    border: none !important;
}

#input::placeholder{
    background-color: #eb5e28 !important;
    color: rgb(213, 185, 185) !important;
    border: none !important;
}

.click {
    cursor: pointer;
}
