#navbar {
    margin-top: 0 !important;
    background-color: #000 !important;
    color: #fff;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    position: fixed;
    width: 100%;
    z-index: 1000;
}


a{
    color: white !important;
    color : linear-gradient(10deg,#ff8000,transparent) #ff4020;
}

span{
    color: #eb5e28;
}

.click{
    cursor: pointer;
}